// If you want to override variables do it here
@import "variables";
$enable-ltr: true;
$enable-rtl: true;
// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";
// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";
@import "layout";
@import "example";
// If you want to add custom CSS you can put it here.
@import "custom";
//Sim
.table-container {
    width: 100%;
    overflow-x: auto;
    max-height: 80vh;
    overflow-y: auto;
}

.table-container .sticky {
    position: sticky;
    left: 0;
    background-color: #fff;

}

.table-header-cell {
    white-space: nowrap;
}

.button-container {
    position: fixed;
    right: 10px;
    top: 10px;
}

.no-bullets {
    list-style-type: none;
}
.CCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CCardHeaderRight {
    order: 1;
}

.CCardHeaderLeft {
    order: 2;
}
.file-input {
    /* Tùy chỉnh các thuộc tính CSS cho button chọn file */
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-input:hover {
    /* Tùy chỉnh giao diện khi hover vào button chọn file */
    background-color: #e0e0e0;
  }
  
  .file-input:focus {
    /* Tùy chỉnh giao diện khi button chọn file được focus */
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }